
body {
    background: radial-gradient( blue, green);
    background-size: cover;
   
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(red, maroon);
    width: 50%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    max-height: 100%;
    overflow: auto; 
    
}

ul {
    margin: 1em auto;
    list-style: none; 
}

h1 {
    text-align: center;
}
button {
    margin: 0.5em auto;
    width: 100%;
    padding: 5px;
    border-radius: 10%;
    background-color: lightgreen;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: green;
    transform: translate(0px, -4px);
    transition: 0.5s;
}